{% extends "base.html" %}

{% block header %}
<div class="container text-center">
    <h1>{% block title %} {{ name }} {% endblock %}</h1>
    <p>{{ content }}</p>
    {% if owner == session.username or session.admin %}
    <p>
        You can remove messages of this room <br>
        or Delete the room
        <form action="/delete_room" method="POST">
            <input type="hidden" name="room_id" value="{{ id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </p>
    {% else %}
    <p>Owner: <b style="font-size: 22px; color: #eb5e28;">{{ owner }}</b></p>
    {% endif %}
</div>
{% endblock %}

{% block content%}
<div class="container">
    {% if session.username %}
    {% if messages is defined %}
    <h3>Messages</h3>
    <!-- <div class="chat-wrapper">
        {% for message in messages %}
        <div class="message-list">
            <div class="media">
                <div class="media-body">
                    <div class="row">
                        <div class="col-12 col-md-1">
                            {% if message[1] == session.username or session.username == owner or session.admin %}
                            <form action="/delete_message" method="POST">
                                <div class="text-center">
                                    <input type="hidden" name="message_id" value="{{ message[3] }}">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-11">
                            <div>
                                <b>{{ message[1] }}</b>
                                {{ message[0] }}
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div></div>
                                <div class="message-date">
                                    <span class="bg-light p-2">{{ message[2].strftime('%d-%m-%y') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> -->
    <div class="chat-wrapper">
        <form action="/delete_message" method="POST">
            {% for message in messages %}
            <div class="message-list">
                <div class="media">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-12 col-md-1">
                                {% if message[1] == session.username or session.username == owner or session.admin %}
                                <div class="text-center">
                                    <input type="checkbox" name="selected_messages[]" value="{{ message[3] }}">
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-11">
                                <div>
                                    <b>{{ message[1] }}</b>
                                    {{ message[0] }}
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div></div>
                                    <div class="message-date">
                                        <span class="bg-light p-2">{{ message[2].strftime('%d-%m-%y') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="text-center mt-3">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit" class="btn btn-danger">Delete Selected</button>
            </div>
        </form>
    </div>
    

    {% else %}
    <div>
        <p>No messages yet</p>
    </div>
    {% endif %}
    <form action="/send" method="POST" class="text-center">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="room_id" value="{{ id }}">
        <div class="textarea-wrapper">
            <input type="text" class="form-control" placeholder="Type message.." name="content" autocomplete="off" maxlength="1200" required>
            <div class="form-check text-center">
                <input type="checkbox" name="chatbot" id="chatbot" class="form-check-input">
                <label for="chatbot" class="form-check-label">Exclude Chatbot</label>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
    {% else %}
    <div class="text-center">
        <p>You must be logged in to send messages to this room.</p>
        <a href="/login" class="btn btn-primary">Log in</a>
        <p>or</p>
        <a href="/register" class="btn btn-success">Register</a>
    </div>
    {% endif %}
</div>
{% endblock %}
